.wrapper{
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner{
    height: 100%;
    width: var(--default-layout-width, 1150px);
    border: 2px black solid;
}