@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
:root{
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    min-height: 1000px;
}