@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;

    line-height: 1.5px;
}