.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1150px;
    display: flex;
}
.content{
    flex: 1;
    background-color: aquamarine;
}